@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap");
.base {
  background: linear-gradient(to right, white, #45526e);
  display: flex;
  justify-content: space-between; }
  .base .logo_nav {
    width: 20vw; }
    .base .logo_nav:hover {
      transform: rotateZ(15deg);
      transition: transform 1s; }
  .base ul li a {
    font-size: 1.5em; }

.articulo {
  display: flex;
  justify-content: space-between; }

.main, .main2 {
  background-color: #45526e; }
  .main .titulo, .main2 .titulo, .main2 .titulo2 {
    font-size: 2em;
    text-decoration: underline;
    font-weight: 500;
    color: whitesmoke; }
  .main p, .main2 p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: white;
    width: 40vw;
    font-weight: 300; }
  .main .img_art, .main2 .img_art, .main2 .img_art2 {
    width: 40vw;
    padding-top: 10px;
    padding-left: 10px; }

.main2 {
  background-color: rgba(0, 166, 251, 0.5); }
  .main2 .img_art2 {
    margin-top: 40px; }
  .main2 .titulo2 {
    color: #051923; }

.pie {
  background: linear-gradient(to right, white, #45526e); }

.descargas {
  background-color: rgba(0, 166, 251, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .descargas .titulodescargas {
    font-size: 2em;
    font-weight: 500;
    color: #051923;
    margin-top: 1em; }
  .descargas .downloadtable {
    background-color: #45526e;
    border-style: double;
    color: #e7edea;
    margin-bottom: 2em;
    margin-top: 2em; }

.contacto {
  background-color: rgba(0, 166, 251, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contacto .titulocontacto {
    font-size: 2em;
    font-weight: 500;
    color: #051923;
    margin-top: 1em; }
