.descargas {
    background-color: $translight ;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulodescargas {
        font-size: $textLg ;
        font-weight: $medium;
        color: $dark;
       margin-top: 1em;
    }
    .downloadtable {
    background-color: $mainColor ;
    border-style: double;
    color: $white;
    margin-bottom: 2em;
    margin-top: 2em;
    }
}
