
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400&display=swap');

// Fuentes:

$mainFont: 'Roboto', sans-serif;

// Tamaños

$textSm: 0.8em;
$textMd: 1.5em;
$textLg: 2em;
$textXl: 3em;

// Pesos

$light: 300;
$regular: 400;

