// variables globales

$gradientColor: linear-gradient(to right, white, #45526e);
$mainColor:  #45526e;
$secondaryColor: #0582CA;
$translight: rgba($color: #00A6FB, $alpha: 0.5);
$dark: #051923;
$white: #e7edea;

