// variables globales

$gradientColor: linear-gradient(to right, white, #45526e);
$mainColor: #45526e;
$secondaryColor: #0582ca;
$translight: rgba($color: #00a6fb,$alpha: 0.5,);
$dark: #051923;
$white: #e7edea;
