<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AUTOHEALTH - Confiá en tu auto!</title>
		<link rel="icon" type="image/jpg" href="../img/favicon.png"/>
		
		<!-- Boostrap CSS - bootstrap.min.css -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">

		<!-- Mi CSS -->
		<link rel="stylesheet" href="../css/style2.css">

		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="grid_contenedor">
			<header class="base">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container-fluid">
					  <a class="navbar-brand" href="../index.html">
						<img src="../img/autohealth_banner.jpg" alt="Logo de autohealth" class="logo_nav">
					  </a>
					  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						  <li class="nav-item">
							<a class="nav-link" href="../views/descargas.html">Descargas</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="../views/contacto.html">Contacto</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link active" href="../views/blog.html">Blog</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link " href="../views/registrate.html">Registrate</a>
						  </li>
						</ul>
					  </div>
					</div>
				  </nav>
			</header>
			<!-- ends header -->
			<main class="main">
				<section id="ventajas">
					<article>
						<h1 class="text-bold text-center">Blog de usuarios versión PRO!</h1>
					<div class="contenidoart">
						<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate natus eveniet veritatis ipsam, autem error numquam, eaque ipsa, porro ad? In esse pariatur impedit eos tenetur neque quod aspernatur!
						</p>
					</div>
					</article>
				</section>
					<!-- ventajas de usar nuestro sistema -->
				<section class="formulario">
					<h2 class="text-bold text-center">Por políticas de la marca, te pediremos algunos datos antes de ingresar</h2>

					<form action="envio.php"> 
						<fieldset>
							<legend class="text-bold">Info personal</legend>
								<label for="nombre">Nombre y Apellido</label>
								<input type="text" id="nombre" placeholder="John Doe">
								<label for="mail">Mail</label>
								<input type="mail" id="mail" placeholder="correo@ejemplo.com">
						</fieldset>
						<fieldset>	
								<legend class="text-bold">Aquí podes dejarnos tu escrito</legend>
									<!-- <label for="version">Que versión te interesa ?</label> -->
									<!-- <select name="Qué versión te interesa más?" id="version">
										<option value="lite">Lite</option>
										<option value="home">Home</option>
										<option value="pro">Pro</option>
									</select> -->
									<!-- <br><br>
									<label for="os">Sistema operativo</label>
									<br>
									<label for="android">Android</label>
									<input type="radio" id="android" name="os" value="android">
									<label for="ios">iOS</label>
									<input type="radio" id="ios" name="os" value="ios">
									<br><br> -->
								<!-- <label for="mensaje">Tu mensaje</label>
									<br> -->
									<textarea name="Deje su mensaje" id="mensaje" cols="60" rows="10"></textarea>
									<br>
									<input type="submit" value="Enviar">
									<input type="reset" value="Cancelar">
						</fieldset>
					</form>
				</section>
			</main>
			<section class="map" id="mapaindex">
				<article>
					<h1 class="text-bold text-center animado">Blog de usuarios versión FREE!</h1>
				<div class="contenidoart">
					<p class="text-center">Por el monento el blog de usuarios FREE se encuentra en construcción. Los atenderemos en breves..
					</p>
				
			</section>

			<footer
          class="text-center text-lg-start text-white pie"
          
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Links de interes
            </h6>
            <p>
              <a class="text-white">Nosotros</a>
            </p>
            <p>
              <a class="text-white">Terminos del servicio</a>
            </p>
            <p>
              <a class="text-white">Politica de privacidad</a>
            </p>
            <p>
              <a class="text-white">Soporte Tecnico</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
            <p><i class="fas fa-home mr-3"></i> Mendoza, CP 5500, AR</p>
            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 549 261 567 88</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2022 Copyright:
              <a class="text-white" href="index.html">Autohealth.com</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
			   href="https://www.facebook.com" target="_blank"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
			   href="https://www.twitter.com" target="_blank"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
			   href="https://www.instagram.com" target="_blank"
               ><i class="fab fa-instagram"></i
              ></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
			
			<!-- <footer class="pie">
				<ul>
					<li>
						<a href="#">Sobre nosotros</a>
					</li>
					<li>
						<a href="#">Términos del servicio</a>
					</li>
					<li>
						<a href="#">Política de privacidad</a>
					</li>
					<li>
						<a href="#">Desarrolladores</a>
					</li>
					<li>
						<a href="#">Soporte técnico</a>
					</li>
					<li>
						<a href="../views/descargas.html">Descargas</a>
					</li>
				
					<a href="https://www.facebook.com" target="blank">
						<img src="../img/fb.png" alt="Facebook logo" width="60" height="40">
					</a>
					<a href="https://www.instagram.com" target="blank">
						<img src="../img/ig.png" alt="Instagram logo" width="60" height="40">
					</a>
					<a href="httsp://www.linkedin.com" target="blank">
						<img src="../img/ln.png" alt="Linkedin logo" width="60" height="40">
					</a>
				</ul>	
			</footer> -->
		</div>	<!-- ends grid_contenedor -->
		<!-- JS bootstrap.min.js -->
		<script src="../js/bootstrap.min.js"></script>
	</body>
</html>