<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AUTOHEALTH - Confiá en tu auto!</title>
		<link rel="icon" type="image/jpg" href="../img/favicon.png"/>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<nav>
			<a href="index.html">
				<img src="../img/logo.png" alt="Logo de autohealth" class="w-50" >
			</a>
			<ul>
				<li>
					<a href="../index.html">Inicio</a>
				</li>
				<li>
					<a href="../views/descargas.html">Descargas</a>
				</li>
				<li>
					<a href="../views/contacto.html">Contacto</a>
				</li>
				<li>
					<a href="../views/blog.html" class="text-bold text-underline">Blog</a>
				</li>	
				<li>
					<a href="../views/registrate.html">Registrate</a>
				</li>	
			</ul>
		</nav>
		<!-- ends nav -->
		<header >
			<img src="../img/mechanic-banner.jpg" alt="Imagen heroe" id="img_heroe">
		</header>
		<!-- ends head -->
		<main>
			<div class="blog margin-top--100">
				<h1 class="margin-left--50">Visitá nuestro blog de usuarios!</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quidem odio corporis aperiam dolorum incidunt numquam dolor saepe dolore id. Amet, nesciunt eum voluptate voluptatum expedita explicabo porro ipsa earum.</p>
				
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe beatae doloribus nobis laborum distinctio tenetur sint aspernatur modi tempore, earum, impedit delectus consequatur. Ab nam nisi, nemo nobis iste, unde.</p>
				
				<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Accusantium ex corporis pariatur tempora quaerat quia alias, labore eveniet, sequi, rerum aut distinctio nisi a. Officia ea voluptas odit magni pariatur!</p>
				
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quidem odio corporis aperiam dolorum incidunt numquam dolor saepe dolore id. Amet, nesciunt eum voluptate voluptatum expedita explicabo porro ipsa earum.</p>
				
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe beatae doloribus nobis laborum distinctio tenetur sint aspernatur modi tempore, earum, impedit delectus consequatur. Ab nam nisi, nemo nobis iste, unde.</p>
				
				<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Accusantium ex corporis pariatur tempora quaerat quia alias, labore eveniet, sequi, rerum aut distinctio nisi a. Officia ea voluptas odit magni pariatur!</p>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quidem odio corporis aperiam dolorum incidunt numquam dolor saepe dolore id. Amet, nesciunt eum voluptate voluptatum expedita explicabo porro ipsa earum.</p>
				
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe beatae doloribus nobis laborum distinctio tenetur sint aspernatur modi tempore, earum, impedit delectus consequatur. Ab nam nisi, nemo nobis iste, unde.</p>
				
				<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Accusantium ex corporis pariatur tempora quaerat quia alias, labore eveniet, sequi, rerum aut distinctio nisi a. Officia ea voluptas odit magni pariatur!</p>

			</div>

		</main>
		<footer class="pie">
			<ul>
				<li>
					<a href="#" class="pie__link">Sobre nosotros</a>
				</li>
				<li>
					<a href="#" class="pie__link">Términos del servicio</a>
				</li>
				<li>
					<a href="#" class="pie__link">Política de privacidad</a>
				</li>
				<li>
					<a href="#" class="pie__link">Desarrolladores</a>
				</li>
				<li>
					<a href="#" class="pie__link">Soporte técnico</a>
				</li>
				<li>
					<a href="../views/descargas.html" class="pie__link">Descargas</a>
				</li>
			</ul>
				<a href="https://www.facebook.com" target="blank" class="pie__rrss">
					<img src="../img/fb.png" alt="Facebook logo" width="60" height="40" class="pie__rrss--s">
				</a>
				<a href="https://www.instagram.com" target="blank"class="pie__rrss">
					<img src="../img/ig.png" alt="Instagram logo" width="60" height="40" class="pie__rrss--s">
				</a>
				<a href="httsp://www.linkedin.com" target="blank"class="pie__rrss">
					<img src="../img/ln.png" alt="Linkedin logo" width="60" height="40" class="pie__rrss--s">
				</a>
			
		</footer>
	</body>
</html>