<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="mantenimiento, app, simple, mobile, avería, preventivo, notificación, ahorro, contacto, mailing, ">
    <meta name="description" content="En esta sección podrás dejarnos tus datos para que nos contactemos, podrás hacer consultas.">
    <title>Contacto</title>
    <link rel="icon" type="image/jpg" href="../img/favicon.png"/>
		
		<!-- Boostrap CSS - bootstrap.min.css -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">

		<!-- Mi CSS -->
		<link rel="stylesheet" href="../css/main.css">

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <!-- Inicia Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light base">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">
            <img src="../img/autohealth_banner.jpg" alt="Logo de autohealth" class="logo_nav">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-grey" aria-current="page" href="../views/descargas.html">Descargas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-grey" aria-current="page" href="../views/contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-grey" aria-current="page" href="../views/foro.html">Foro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-grey" aria-current="page" href="../views/registrate.html">Registrate</a>
              </li>
            </div>
        </div>
      </nav>
    <!-- Cierra Nav -->
</header>

<!-- Inicia Main -->
<div class="contacto">
<h1 class="titulocontacto">Querés decirnos algo?</h1>

<div class="row col-sm-6 col-md-6 col-lg-6 col-xl-6">

<!-- Wrapper container -->
<div class="container py-4">

  <!-- Bootstrap 5 starter form -->
  <form id="contactForm">

    <!-- Name input -->
    <div class="mb-3">
      <label class="form-label" for="name">Nombre y apellido</label>
      <input class="form-control" id="name" type="text" placeholder="Pepe Hongo" data-sb-validations="required" />
      <div class="invalid-feedback" data-sb-feedback="name:required">Este campo es obligatorio.</div>
    </div>

    <!-- Email address input -->
    <div class="mb-3">
      <label class="form-label" for="emailAddress">Mail</label>
      <input class="form-control" id="emailAddress" type="email" placeholder="usuario@prueba.com" data-sb-validations="required, email" />
      <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Este campo es obligatorio.</div>
      <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Mail inválido.</div>
    </div>

    <!-- Message input -->
    <div class="mb-3">
      <label class="form-label" for="message">Tu mensaje</label>
      <textarea class="form-control" id="message" type="text" placeholder="Hola.." style="height: 10rem;" data-sb-validations="required"></textarea>
      <div class="invalid-feedback" data-sb-feedback="message:required">Este campo es obligatorio</div>
    </div>

    <!-- Form submissions success message -->
    <div class="d-none" id="submitSuccessMessage">
      <div class="text-center mb-3">Form submission successful!</div>
    </div>

    <!-- Form submissions error message -->
    <div class="d-none" id="submitErrorMessage">
      <div class="text-center text-danger mb-3">Error sending message!</div>
    </div>

    <!-- Form submit button -->
    <div class="d-grid">
      <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
    </div>

  </form>

</div>
  
</div>

</div>

<!-- Cierra Main -->

<!-- Inicia Footer -->

<footer class="text-center text-white pie" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1 "
          href="http://www.facebook.com"
          role="button"
          data-mdb-ripple-color="dark" 
          target="blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="http://www.twitter.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="blank"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="http://www.google.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="blank"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="http://www.instagram.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="blank"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="http://www.linkedin.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="http://www.github.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="blank"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/" target="blank">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>

<!-- Cierra Footer -->

<!-- JS bootstrap.min.js -->
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>