<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="mantenimiento, app, simple, mobile, avería, preventivo, notificación, ahorro, blog, foro">
    <meta name="description" content="En el foro de la app podrás dejar tu opinión y leer la opinión de otros usuarios, así como hacer consultas">
    <title>Foro de usuarios</title>
    <link rel="icon" type="image/jpg" href="../img/favicon.png"/>
		
		<!-- Boostrap CSS - bootstrap.min.css -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">

		<!-- Mi CSS -->
		<link rel="stylesheet" href="../css/main.css">

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <!-- Inicia Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light base">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">
            <img src="../img/autohealth_banner.jpg" alt="Logo de autohealth" class="logo_nav">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-grey" aria-current="page" href="../views/descargas.html">Descargas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-grey" aria-current="page" href="../views/contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-grey" aria-current="page" href="../views/foro.html">Foro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-grey" aria-current="page" href="../views/registrate.html">Registrate</a>
              </li>
            </div>
        </div>
      </nav>
    <!-- Cierra Nav -->
</header>

<!-- Inicia Main -->
<main>
  <div class="forocompleto">
    <h1>Foro de Usuarios.</h1>
    <div class="card foro" style="width: 70vw">
      <div class="card-body">
        <h5 class="card-title">Autohealth</h5>
        <h6 class="card-subtitle mb-2 text-muted">Foro de usuarios</h6>
        <p class="card-text">Esta sección está diseñada para generar un canal de comunicación que propicie la cooperación entre los usuarios de la solución <strong>Autohealth</strong>. Sólo se espera que aquellos que reciben los beneficios de la cooperación asuman también, dentro de sus capacidades, parte de los costos de la misma colaborando y reconociendo a aquellos que más colaboran.
          Las plataformas como un «foro» o una «wiki» son herramientas tecnológicas que reducen algunos problemas de diseño institucional al favorecer la cooperación. Esto es particularmente notorio en los casos en donde información valiosa es poseída por individuos dispersos. Un «foro» promueve la cooperación al reducir fuertemente los costos de la misma y permitir que cada individuo exprese sus dudas al tiempo que colabora con la de los otros.
          Es posible que si la idea del foro funcione, las bases de datos que se ofrecen en esta página puedan ser mejoradas en función de los propios comentarios de los usuarios. Por ahora se ha creado un foro con distintas categorías. Las categorías tienen la función de ayudar a ordenar tanto la búsqueda de dudas anteriores de los usuarios como la de seleccionar el lugar más idóneo para construir un nuevo tema con una nueva duda. De este modo, dentro de cada una de las categorías construidas cada usuario puede tanto crear diferentes temas como responder las dudas de los otros usuarios.</p>
        <a href="#" class="card-link">Preguntas Frecuentes</a>
        <a href="#" class="card-link">Notificaciones</a>
        <a href="#" class="card-link">Mantenimientos</a>
        <a href="#" class="card-link">Talleres</a>
      </div>
    </div>
  </div>

</main>
<!-- Cierra Main -->
<!-- Inicia Footer -->
<footer class="text-center text-white pie" >
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1 "
          href="http://www.facebook.com"
          role="button"
          data-mdb-ripple-color="dark" 
          target="blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="http://www.twitter.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="blank"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="http://www.google.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="blank"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="http://www.instagram.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="blank"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="http://www.linkedin.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="http://www.github.com"
          role="button"
          data-mdb-ripple-color="dark"
          target="blank"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="../index.html" target="blank">Autohealth.com</a>
    </div>
    <!-- Copyright -->
  </footer>

<!-- Cierra Footer -->

<!-- JS bootstrap.min.js -->
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>