<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AUTOHEALTH - Confiá en tu auto!</title>
		<link rel="icon" type="image/jpg" href="../img/favicon.png"/>
		
		<!-- Boostrap CSS - bootstrap.min.css -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">

		<!-- Mi CSS -->
		<link rel="stylesheet" href="../css/style2.css">

		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
				<a class="navbar-brand" href="../index.html">
					<img src="../img/autohealth_banner.jpg" alt="Logo de autohealth" class="logo_nav">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
						<a class="nav-link" href="../views/descargas.html">Descargas</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="../views/contacto.html">Contacto</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="../views/blog.html">Blog</a>
				</li>
				<li class="nav-item">
						<a class="nav-link active" href="../views/registrate.html">Registrate</a>
				</li>
					</ul>
				</div>
				</div>
			</nav>
		</header>
		<!-- ends header -->
		<main>
			<section class="vh-100" style="background-color: #eee;">
				<div class="container h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-lg-12 col-xl-11">
					  <div class="card text-black" style="border-radius: 25px;">
						<div class="card-body p-md-5">
						  <div class="row justify-content-center">
							<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
			  
							<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registro</p>
			  
							<form class="mx-1 mx-md-4">
			  
								<div class="d-flex flex-row align-items-center mb-4">
									<i class="fas fa-user fa-lg me-3 fa-fw"></i>
									<div class="form-outline flex-fill mb-0">
										<input type="text" id="form3Example1c" class="form-control" />
										<label class="form-label" for="form3Example1c">Nombre y Apellido</label>
									</div>
								</div>
			  
								<div class="d-flex flex-row align-items-center mb-4">
								  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
								  <div class="form-outline flex-fill mb-0">
									<input type="email" id="form3Example3c" class="form-control" />
									<label class="form-label" for="form3Example3c">Email</label>
								</div>
								</div>
								<div class="d-flex flex-row align-items-center mb-4">
								<i class="fas fa-lock fa-lg me-3 fa-fw"></i>
								<div class="form-outline flex-fill mb-0">
									<input type="password" id="form3Example4c" class="form-control" />
									<label class="form-label" for="form3Example4c">Contraseña</label>
								</div>
								</div>
								<div class="d-flex flex-row align-items-center mb-4">
								<i class="fas fa-key fa-lg me-3 fa-fw"></i>
								<div class="form-outline flex-fill mb-0">
									<input type="password" id="form3Example4cd" class="form-control" />
									<label class="form-label" for="form3Example4cd">Reingrese la contraseña</label>
								</div>
								</div>
								<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
								<button type="button" class="btn btn-primary btn-lg">Registrarse</button>
								</div>
							</form>
							</div>
							<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
								class="img-fluid" alt="Sample image">
							</div>
						</div>
						</div>
						</div>
						</div>
					</div>
				</div>
			</section>

			<!-- <div class="formregistro">
				<h1 class="margin-left--100">Registrate!</h1>
				<form action="registro.php" class="formulario margin-bottom--100">
					<fieldset>Info de Registro
						<br><br>
						<label for="mail">Brindanos tu mail</label>
						<input type="mail" placeholder="correo@ejemplo.com" id="mail" required>
						<br>
						<label for="pass">Elegí una contraseña</label>
						<input type="pass" placeholder="mínimo 6 dígitos" id="pass">
						<br><br>
						<input type="submit" value="Registrarme!">
						<input type="reset" value="Cancelar">
					</fieldset>
				</form>
			</div> -->
		</main>
		<footer class="text-center text-lg-start text-white pie">
			<!-- Grid container -->
			<div class="container p-4 pb-0">
			<!-- Section: Links -->
			<section class="">
				<!--Grid row-->
				<div class="row">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-4 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold">
					Links de interes
					</h6>
					<p>
					<a class="text-white">Nosotros</a>
					</p>
					<p>
					<a class="text-white">Terminos del servicio</a>
					</p>
					<p>
					<a class="text-white">Politica de privacidad</a>
					</p>
					<p>
					<a class="text-white">Soporte Tecnico</a>
					</p>
				</div>

				<!-- Grid column -->
				<hr class="w-100 clearfix d-md-none" />

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
					<p><i class="fas fa-home mr-3"></i> Mendoza, CP 5500, AR</p>
					<p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
					<p><i class="fas fa-phone mr-3"></i> + 549 261 567 88</p>
				</div>
				<!-- Grid column -->
				</div>
				<!--Grid row-->
			</section>
			<!-- Section: Links -->

			<hr class="my-3">

			<!-- Section: Copyright -->
			<section class="p-3 pt-0">
				<div class="row d-flex align-items-center">
				<!-- Grid column -->
				<div class="col-md-7 col-lg-8 text-center text-md-start">
					<!-- Copyright -->
					<div class="p-3">
					© 2022 Copyright:
					<a class="text-white" href="index.html">Autohealth.com</a
						>
					</div>
					<!-- Copyright -->
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
					<!-- Facebook -->
					<a
					class="btn btn-outline-light btn-floating m-1"
					class="text-white"
					role="button"
					href="https://www.facebook.com" target="_blank"
					><i class="fab fa-facebook-f"></i
					></a>

					<!-- Twitter -->
					<a
					class="btn btn-outline-light btn-floating m-1"
					class="text-white"
					role="button"
					href="https://www.twitter.com" target="_blank"
					><i class="fab fa-twitter"></i
					></a>

					<!-- Instagram -->
					<a
					class="btn btn-outline-light btn-floating m-1"
					class="text-white"
					role="button"
					href="https://www.instagram.com" target="_blank"
					><i class="fab fa-instagram"></i
					></a>
				</div>
				<!-- Grid column -->
				</div>
			</section>
			<!-- Section: Copyright -->
			</div>
			<!-- Grid container -->
		</footer>

		<!-- JS bootstrap.min.js -->
		<script src="../js/bootstrap.min.js"></script>
	</body>
</html>